<!DOCTYPE html>
<html>
  <head>
    <link href="layout.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="small.css" media="screen and (max-width: 500px)" rel="stylesheet" type="text/css" />
    <link href="medium.css" media="screen and (min-width:501px) and (max-width:1024px)" rel="stylesheet" type="text/css" />
    <link href="large.css" media="screen and (min-width:1025px)" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <script src="zepto.min.js"></script>
    <script src="responsive.js"></script>
    <title>Responsive Taks: Layout Prototype</title>
  </head>
  <body>
    <section id="tasks">
      <header>
        <a class="projects-toggle" href="#">Projects</a>
        Tasks
      </header>
      <div class="container">
        <ul>
          <li class="first">
            <input type="checkbox" /> Make the layout prototype
            <ul>
              <li><input type="checkbox" /> (large) 3 columns layout</li>
              <li><input type="checkbox" /> Styling with css gradients</li>
              <li><input type="checkbox" /> Responsive hide</li>
              <li><input type="checkbox" /> (medium) styling</li>
              <li><input type="checkbox" /> (small) styling</li>
              <li><input type="checkbox" /> Responsive show/hide</li>
            </ul>
          </li>
          <li class="inspector-toggle"><input type="checkbox" /> Basic JS interactions</li>
          <li><input type="checkbox" /> Data layer</li>
          <li><input type="checkbox" /> Synchronisation layer</li>
          <li>
            <input type="checkbox" /> App foundation
            <ul>
              <li><input type="checkbox" /> Code structure</li>
              <li><input type="checkbox" /> Javascript mignify</li>
              <li><input type="checkbox" /> CSS mignify</li>
              <li>
                <input type="checkbox" /> Local development server
                <span>
                  With the correct mime-types for AppCache
                </span>
              </li>
              <li><input type="checkbox" /> Packaging</li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <section id="projects">
      <header>
        <a class="projects-toggle" href="#">Close</a>
        Projects
      </header>
      <div class="container">
        <ul>
          <li class="first selected">Responsive Tasks</li>
          <li>Grossery list</li>
          <li>Trip to cupertino</li>
        </ul>
      </div>
    </section>
    <section id="inspector">
      <header>
        <a class="inspector-toggle" href="#">Close</a>
        Inspector
      </header>
      <div class="container">

      </div>
    </section>
  </body>
</html>
