header a {
  display: block;
}
#tasks, #projects, #inspector {
  width: 100%;
}
#projects, #inspector {
  width: 100%;
}
#projects, #inspector {
  top: -102%;
  border-bottom: 2px black solid;
}
#projects .container, #inspector .container {
  padding-bottom: 15px;
}
